@import "./mixins";
@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  @include siteMain;
}

*,
a {
  text-decoration: none;
  list-style: none;
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.sticked {
  background: $white;
  @include box-shadow(0, 3px, 5px, lighten($gray, 25%));
  padding: 0;

  .navbar-brand {
    img {
      width: 190px;
    }
  }
}

p {
  line-height: 155%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.title-article {
  h2 {
    font-size: clamp(1.4rem, 2vw, 2rem);
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 15px;
  }
}

.title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 700;
}

.link-btn {
  background: $darkprimary;
  padding: 10px 25px;
  color: $white;
  @include transition(all 0.5s ease);
  border-radius: 50px;
  position: relative;
  display: inline-block;

  @include max($md) {
    padding: 10px 20px;
    font-size: $fsize - 1;
  }

  span {
    position: relative;
    padding-right: 20px;
    display: inline-block;
    &:before {
      content: "\e908";
      position: absolute;
      right: 0;
      font-family: "icomoon" !important;
      font-size: $fsize - 4;
      top: 5px;
    }
  }

  &:hover {
    background: $primary;
  }
}

header {
  padding: 15px 0;
  @include max($md) {
    background: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 5px 0;
  }
  @include transition(all 0.5s ease);
  nav {
    .nav-link {
      color: $blue;
      font-weight: 500;
      padding: 10px 20px !important;

      @include max($md) {
        background: $white;
        margin-bottom: 5px;
        border-radius: 25px;
      }
    }
    .signup-btn {
      @extend .link-btn;
      @include max($md) {
        width: 110px;
      }
    }
    .navbar-brand {
      img {
        width: 210px;
        @include transition(all 0.5s ease);
      }
    }
  }
}

main {
  margin-top: -96px;
  @include max($md) {
    margin-top: 0;
  }
}

.Home-banner {
  background: linear-gradient(226deg, #ffe3e3 5.47%, #b8b4e5 100%);
  padding-top: 208px;

  @include max($md) {
    padding-top: 150px;
  }

  .title {
    @include max($sm) {
      padding-bottom: 10px;
    }
  }

  .h5 {
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);

    @include max($md) {
      line-height: 28px;
    }
  }

  .HomebannerFigure {
    overflow: hidden;
    margin-top: -8%;

    @include max($sm) {
      margin-top: 0;
    }

    .col-2 {
      position: relative;
      &:nth-child(2),
      &:nth-child(5) {
        transform: translateY(12%);
      }
      &:nth-child(3),
      &:nth-child(4) {
        transform: translateY(24%);
      }
    }
    figure {
      overflow: hidden;
      margin-bottom: 5px;
      border-radius: 20px;
      @include max($md) {
        margin-bottom: 2px;
      }
      img {
        border-radius: 20px;
        position: relative;
        @include transition(0.4s, all, ease);

        @include max($md) {
          border-radius: 3px;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.compatible-section {
  padding: 35px 0 0 0;
}

.PostSlider {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: $fsize + 5;
    color: $black;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    background: $primarylight;
    border-radius: 50px;
  }
}

.post-item {
  span.post-resolution {
    background: $darkprimary;
    padding: 5px 0;
    border-radius: 25px;
    text-align: center;
    color: $white;
    font-size: $fsize - 2;
    width: 134px;

    @include position(
      absolute,
      $top: 5px,
      $right: 0,
      $bottom: inherit,
      $left: 50%
    );
    transform: translateX(-57px);
  }
  .item-links {
    @include position(
      absolute,
      $top: inherit,
      $right: 10px,
      $bottom: 10px,
      $left: inherit
    );

    a {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: $darkprimary;
      color: $white;
      text-align: center;
      line-height: 34px;
      margin-left: 10px;
      border-radius: 50%;
      @include transition(all, 0.2s, ease);

      .icomoon {
        font-size: $fsize - 1;
      }

      &:hover {
        background: $primary;
      }
    }
  }
  .h6 {
    font-weight: 600;
  }
}

.designSkills {
  background: linear-gradient(180deg, #6659e3 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  min-height: 600px;
  margin-top: 105px;

  @include max($lg) {
    margin-top: 25px;
    min-height: 420px;
  }

  .title-article {
    div {
      padding: 35% 0;

      @include max($lg) {
        padding: 5% 0;
      }
    }
  }
  .designSkillsImg {
    right: -12px;
    position: relative;
  }
}

.focus-section {
  margin-bottom: 115px;

  @include max($md) {
    margin-bottom: 20px;
  }
  .row {
    padding-top: 70px;

    @include max($md) {
      padding-top: 30px;
    }
  }
}

.Footer {
  background: $darkprimary;
  padding: 37px 0;
  margin-top: 15px;
  position: relative;

  p {
    font-size: $fsize - 2;
  }
  a {
    font-size: $fsize - 2;
    color: $white;
  }
  ul {
    @include max($md) {
      justify-content: center;
      padding: 10px 0 !important;
    }
    li {
      a {
        padding: 10px 20px;
      }
    }
  }
  .footerSocial {
    @include max($md) {
      text-align: center;
      padding-top: 12px;
    }
    a {
      display: inline-block;
      padding: 0 10px;
    }
  }
  .moveTop {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    position: absolute;
    bottom: 30px;
    right: 25px;
    line-height: 40px;
    text-align: center;
    @include transition(all 0.2s ease);
    background: $primary;
    z-index: 9999;
    text-decoration: none;
    transform: rotate(-90deg);

    &:hover {
      border-radius: 50%;
    }
    .icomoon {
      color: $white;
    }
  }
}

.login-screen {
  min-height: 500px;
  padding-top: 100px;
  text-align: center;
}

.postMarquee {
  figure {
    margin: 0 5px;
    img {
      height: 270px;
      border-radius: 10px;

      @include max($md) {
        height: 120px;
        border-radius: 2px;
      }
    }
  }
}
